/* ===== Глобальный фон и текст ===== */
body {
  margin: 0;
  background-color: #27374d;
  font-family: "Arial", sans-serif;
}

/* ===== Эпизоды (карточки) ===== */
.episode {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #526d82;
  color: #dde6ed;
}

/* ===== Контейнер персонажей ===== */
.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

/* ===== Карточка персонажа ===== */
.character {
  width: 300px;
  height: 140px;
  border: 1px solid #526d82;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  color: #526d82;
}

.character h3 {
  margin-top: 5px;
}

/* ===== Цвет по статусу ===== */
.character-alive {
  background-color: #c7f0db;
}

.character-dead {
  background-color: #f0c7c7;
}

.character-unknown {
  background-color: #ffffff;
}

/* ===== Стороны карточки ===== */
.character-left {
  flex: 2;
  min-width: 120px;
}

.character-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-right {
  flex: 3;
  padding: 10px;
  overflow: hidden;
}

/* ===== Карточка локации ===== */
.location-card {
  border: 1px solid #dde6ed;
  background-color: #9db2bf;
  color: #27374d;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
